<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="static/appstyle.css">
  <meta name="viewport" content="width=device-width, initial-scale=1", user-scaleable=no>
  <title>FriendFeed</title>
</head>

 <body>
 <h1>Hi there veggie!</h1>
 <div id="dietary-form">
<form method="post" action="/foods">
<label form="name">Name:</label>
<input type="firstname" id="firstname" name="firstname"><br>
<label form="diet" id="diet" name="diet"></label>
  <input type="checkbox" name="diet" value="vegetarian"> Vegetarian<br>
  <input type="submit" value="submit" id="submit-button">

 </form>
 </html>
