<!DOCTYPE html>
<html lang="en">
<head>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href='../static/css/foodstyle.css'>
  <meta name="viewport" content="width=device-width, initial-scale=1", user-scaleable=no>
  <title>Food Results</title>
</head>

<body>
<div class="container-fluid">
  <h1> Available restaurants: </h1>
  <div id = "vegetarian_restuarants">
    {%for location_link in location: %}
      <p id = "locationLinks"> {{location_link | safe }} </p>
    {% endfor %}
  </div>
 </div>
</body>

</html>
